
/* nice scroll bar */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb {
  background: #0082ae;
  border-radius: 50px;
}

html {
   
  overflow-x:hidden ;
  width: 100%;

}

body{

  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x:hidden ;

  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0px 140px;
 
  
}


 li , .logo , .logo_img , .rech , .plus , p{
  float: left;
  margin: 0;
 
}

.logo_img{
  width: 60px;
}

ul{
  height: 99%;
  width: 82%;

  display: flex;
  align-items: center;
  position: relative;
  list-style-type: none;
  padding: 0;
 
  overflow: hidden;
}

.logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.navbar{
  z-index: 5;
  padding: 10px;
  
  display: flex;

  position: fixed;
  height: 80px;
  width: 100%;
  background-color: #0082AE;
  justify-content: center;
  align-items: center;
  
}

li{
  display: flex;
  cursor: pointer;
  font-size: 30px;
  color: #E3F1F6;
}
.logo{
  zoom: 0.82;
  cursor: pointer;
  margin-left : 40px ;
  font-size: 35px;
  font-weight: bold;
  color: #E3F1F6;
}

.Recherche{
 
margin-left: auto;
transition: all 0.3s ease-out;
}

.Recherche:hover
{
  
  padding-bottom: 7px;
  border-bottom:solid 3px rgba(255, 255, 255 ,0.8) ;
}

.rech{
  margin-right: 15px;
width: 34px;
}

.pub{
  margin-left: 50px;
  transition: all 0.3s ease-out;
}

.pub:hover
{ 
  
  padding-bottom: 7px;
  border-bottom:solid 3px rgba(255, 255, 255 ,0.8) ;
}

.plus{
  margin-right:15px ;
  width: 34px;
}

.auth{
  z-index: 2;
  border-radius: 3px;
  margin-left: 40px; ;
  width: 234px;
  height: 60px;
  background-color: #E3F1F6;
  display: flex;
  align-items: center;
  
}

.arrow{
  cursor: pointer;
  margin-right:15px ;
}
.pfp{
  width: 50px;
  margin-left:auto ;
  margin-right:15px ;
}


.user-name{
  font-size: 17px;
  color: #0082AE;
  font-weight: bold;
  margin-left: 15px;
}

.menu{
  z-index: 1;

  display:none;
  animation: slideDown1 0.6s;
  width: 234px;
  position: absolute;
  right: 9.4%;
  top: 80px;
  background-color: #E3F1F6;
  padding-top: 5px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: solid 2px rgba(0,0,0,0.1);
  padding-bottom: 0px;
 
  
}

.option{
  cursor: pointer;
  margin: 0;
  background-color: #E3F1F6;
  width: 100%;
  height: 40px;
  
  font-size: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

}
.option:hover{
background-color: rgba(0,0,0,0.1);

}
.smallfoor{
  text-decoration: none;
  color: white;
  transition: all 0.3 ease;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
.smallfoor:hover{
  text-decoration: none;
  color: white;
  text-shadow: 0 0 20px rgba(255, 255, 255, 1);
}

.text{
  color: black;
  margin-right: auto;
  margin-left:10px ;
}
.cotation{
  color: rgba(0,0,0,0.5);
  font-weight: bold;
  margin-right: 10px;
}
.icon{
  width: 30px;

  margin-left: 10px;
}

.line{
  width: 90%;
  margin: 5px;
  border: solid 1px  rgba(0,0,0,0.2);;
}


main{
  margin-top: 100px;
  height: 830px;
  width: 100%;
 
}



.container {
  display: flex;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 300px;
  padding: 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #E3F1F6;
  text-align: center;
}

.left-side img {
  
  width: 70%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.right-side {
  overflow: scroll;
  width: 80.2%;
  padding: 20px;
}

.comment-section {

  margin-bottom: 20px;
}

.comment-section textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.comment-section .rating-input {
  font-size: 30px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}
#comments-list{

display: flex;
flex-direction: column-reverse;
gap: 20px;

}

#comment-input {
  width: 100%;
  height: 150px;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

/* Styling the textarea when focused */
#comment-input:focus {
  border-color: #0082AE;
  box-shadow: 0 0 8px rgba(74, 144, 226, 0.6);
  outline: none;
}

/* Placeholder styling */
#comment-input::placeholder {
  color: #aaa;
  font-style: italic;
}
.comments-display {
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.comment {
  border-radius: 20px;
  font-size: 20px;
  padding: 20px;
 
  border-bottom: 2px solid grey;
  border-right: 2px solid grey;
 
  background-color: #E3F1F6;
  transition: all 0.3s ease;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
}
.comment:hover{
  background-color: #E3F1F6;
  border-bottom: 2px solid #0082AE;
  border-right: 2px solid #0082AE;
  box-shadow: 0 0 16px rgba(76, 155, 247, 0.6);


}
.comment .comment-text {
  color: rgba(0, 0, 0 ,0.6);
  width: 97%;
  height: 55%;
  
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 10px;
  margin-right: 20px;
}

.comment .comment-rating {
  font-size: 18px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.star1 {
  margin-bottom: 3px;
  color: gold;
  margin-left: 10px;
  font-size: 30px;
}
.star2{
color: black;
margin-bottom: 3px;
font-size: 30px;
}

h1{
 justify-content: center;
 align-items: center;
  display: flex;
  gap: 5px;
  flex-direction: row;
}


.butt{
  background-color: white;
  height: 40px;
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0082AE;
  border: 2px solid #0082AE;
  font-size: 20px;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  
}

.butt:hover{
 
  color: #0082AE;
  border: 4px solid #0082AE;
  font-size: 25px;
  padding: 5px;
  border-radius: 15px;
  font-weight: bold;
}

.butt:active{
 background-color: #0082AE;
 color: white;
}

.star-num{
  font-size: 67px;

  color: gold;
 
}


.ret{
  height: 60px;
  width: 90%;
  margin-bottom: 20px;
  border: 2px solid #0082AE;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: black;
  transition: all 0.3s ease;
}

.ret:hover{
  color: #0082AE;
  font-weight: bold;
  font-size: 50px;
  cursor: pointer;
  border: 4px solid #0082AE;
  padding: 5px;
}



.card {

  background: #fff;
  margin-left: 10px;
  margin-top: 1px;
 
  border-radius: 0.5rem;
}
 
.star {
  font-size: 30px;
  cursor: pointer;
}
 
.one {
  color: rgb(255, 0, 0);
}
 
.two {
  color: rgb(255, 106, 0);
}
 
.three {
  color: rgb(251, 255, 120);
}
 
.four {
  color: rgb(255, 255, 0);
}
 
.five {
  color: rgb(24, 159, 14);
}








/* narrow desktop*/
@media only screen and (min-width: 1025px) and (max-width: 1250px) {
  html {
   
    overflow-x:hidden ;
    width: 100%;

  }
  ul{
    width: 85%;
  }
  .menu{
    right: 8.2%;
  }
  
 }




/* For tablets (e.g., iPad) */
@media only screen and (min-width: 868px) and (max-width: 1024px) {
    html {
   
    overflow-x:hidden ;
    width: 100%;

  }
 .menu{
  right: 3.4%;
  width: 225px;
}
 ul{
  width: 100%;
}
.logo{
  position: relative;
  
  
  width: 92px;
  font-size: 25px;
  margin-left: 0px;
}
.auth{
 
  margin-right: 15px;
  margin-left: 20px;
}
.plus{
  margin-right: 10px;
}
.rech{
  margin-right: 10px;
}

.pub{
 margin-left: 20px;
}


.logo_img{
  width: 43px;
}
}


/* For phones (e.g., iPhone) */
@media only screen and (min-width: 420px) and (max-width: 867px)  {

/* fix this pls*/
   html {
   
    overflow-x:hidden ;
    width: 100%;

  }



  ul{
    width: 100%;
  }
  .logo{
    position: relative;
    
   
    width: 92px;
    font-size: 25px;
    margin-left: 0px;
  }
  .auth{
    width: 100px;
    margin-right: 15px;
    margin-left: 20px;
  }
  .plus{
    margin-right: 0px;
    width: 50px;
  }
  .rech{
    margin-right: 10px;
    width: 50px;
  }
  
  .pub{
   margin-left: 20px;
  }
  
  
  .logo_img{
    width: 43px;
  }

  
  .Publiertrajet{
    display: none;
  }
  .R{
    display: none;
  }

  .user-name{
    display: none;
  }
  .menu{
    animation: slideDown2 0.6s;
    background: #0082AE;
    right: 2.5%;
    margin-top: 20px;
  }
  .option{
    color: white;
    background: #0082AE;
  }
  .option:hover{
    color: #0082AE;
    background: white;
  }
  .cotation{
    color: rgba(0, 0, 0 ,0.4);
  }
  .left-side{
    display: none;
  }

  .right-side{
    width: 100%;
  }
  }
  @media only screen and (max-width: 420px)
  {


    /* fix this pls*/
   html {
   
    overflow-x:hidden ;
    width: 100%;
   
  }



  ul{
    width: 100%;
  }
  .logo{
    position: relative;
    
   
    width: 92px;
    font-size: 25px;
    margin-left: 0px;
  }
  .auth{
    width: 100px;
    margin-right: 15px;
    margin-left: 20px;
  }
  .plus{
    margin-right: 0px;
    width: 50px;
  }
  .rech{
    margin-right: 10px;
    width: 50px;
  }
  
  .pub{
   margin-left: 20px;
  }
  
  
  .logo_img{
    width: 43px;
  }

  .Publiertrajet{
    display: none;
  }
  .R{
    display: none;
  }

  .user-name{
    display: none;
  }
  .menu{
    animation: slideDown2 0.6s;
    background: #0082AE;
    right: 2.5%;
    margin-top: 30px;
  }
  .option{
    color: white;
    background: #0082AE;
  }
  .option:hover{
    color: #0082AE;
    background: white;
  }
  .cotation{
    color: rgba(0, 0, 0 ,0.4);
  }

  .left-side{
    display: none;
  }

  .right-side{
    width: 100%;
  }

  }






  @keyframes slideDown {
    from { transform: translateY(-20%); }
    to { transform: translateY(0); }
}

@keyframes slideDown1 {
  from { transform: translateY(-17%); }
  to { transform: translateY(0); }
}
@keyframes slideDown2 {
  from { transform: translateY(-8%); }
  to { transform: translateY(0); }
}