body{
margin : 0;
zoom:0.9;
overflow: hidden;
}
html{
overflow: hidden;
}

.plan-de-route .rectangle-404 {
  background: #149FCE;
  position: relative;
  margin-right: 64px;
  width: 369px;
  height: 1104px;
}
.plan-de-route .plan-de-route-1 {
  margin: 0 18.2px 48px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Roboto Serif';
  font-weight: 700;
  font-size: 59px;
  color: #0082AE;
}
.plan-de-route .id-card-11 {
  background: url('../assets/images/idCard1.png') 50% / cover no-repeat;
  margin-right: 3.4px;
  width: 70px;
 
  height: 70px;
}
.plan-de-route .vrifier-votre-permis-de-conduire {
  position: relative;
  margin: 11px 0 29px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Roboto Serif';
  font-weight: 700;
  font-size: 26px;
  color: #0082AE;
}
.plan-de-route .container-5 {
  margin-bottom: 53px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.plan-de-route .id-card-1 {
  background: url('../assets/images/idCard11.png') 50% / cover no-repeat;
  margin: 22px 12.5px 0 0;
  width: 50px;
  height: 50px;
 
}
.plan-de-route .ajouter-votre-photo-de-profile {
  position: relative;
  margin-bottom: 42px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Roboto Serif';
  font-weight: 700;
  font-size: 26px;
  color: #0082AE;
}
.plan-de-route .container-3 {
  margin: 0 7px 59px 7px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.plan-de-route .line-86 {
  background: #717171;
  margin: 0 0 37px 9px;
  width: 880px;
  height: 1px;
}
.plan-de-route .jeudi-7-avril-800 {
  margin: 0 9px 32px 9px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Roboto Serif';
  font-weight: 700;
  font-size: 26px;
  color: #393939;
}
.plan-de-route .place-guy-leveque-00274-paris {
  margin-bottom: 52px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Roboto Serif';
  font-weight: 400;
  font-size: 26px;
  color: #131313;
}
.plan-de-route .place-corinne-etienne-49378-lille {
  margin-left: 1px;
  overflow-wrap: break-word;
  font-family: 'Roboto Serif';
  font-weight: 400;
  font-size: 26px;
  color: #131313;
}
.plan-de-route .group-15111 {
  margin: 0 30px 52px 30px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.plan-de-route .line-87 {
  background: #717171;
  margin: 0 0 23px 9px;
  width: 880px;
  height: 1px;
}
.plan-de-route .aucune-passagers-pour-ce-moment {
  margin: 0 9px 34px 9px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Roboto Serif';
  font-weight: 500;
  font-size: 26px;
  color: #C84B31;
}
.plan-de-route .line-88 {
  background: #717171;
  margin: 0 0 16px 9px;
  width: 880px;
  height: 1px;
}
.plan-de-route .voir-votre-annonce-en-ligne {
  margin-bottom: 6px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Roboto Serif';
  font-weight: 700;
  font-size: 26px;
  color: #0082AE;
}
.plan-de-route .pas-encore-de-vues {
  margin: 0 13px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Roboto Serif';
  font-weight: 400;
  font-size: 26px;
  color: #717171;
}
.plan-de-route .group-15113 {
  margin-top: 14px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.plan-de-route .container {

  margin-bottom: 26px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 45px;
  color: #0082AE;
}
.plan-de-route .container-2 {
  margin-right: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 864px;
  box-sizing: border-box;
}
.plan-de-route .les-passagers-aiment-bien-voir-avec-qui-ils-vont-voyager-afin-de-pouvoir-vous-reconnaitre-au-point-de-rencontre {
  position: absolute;
  top: 28px;
  left : 70px;
  overflow-wrap: break-word;
  font-family: 'Roboto Serif';
  font-weight: 400;
  font-size: 26px;
  color: #717171;
}
.plan-de-route .group-15110 {
  position: relative;
  margin: 0 0 6px 3px;
  display: flex;
  flex-direction: column;
  padding-right: 39.7px;
  width: fit-content;
  box-sizing: border-box;
}
.plan-de-route .modifier-votre-annonce {
  margin: 24px 15px 0px 0;
  display: inline-block;
  width: 820.9px;
  position : relative;
  bottom : 100px;
  overflow-wrap: break-word;
  font-family: 'Roboto Serif';
  font-weight: 700;
  font-size: 26px;
  color: #0082AE;
}
.plan-de-route .container-1 {

  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 45px;
  color: #0082AE;
}
.plan-de-route .container-4 {
  margin: 0 64.7px 0 4.1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 862.9px;
  box-sizing: border-box;
}
.plan-de-route .une-etape-indisponible-pour-devnendra-votre-compte-est-verifie {
  position: absolute;
  top: 39px;
  right: 0px;
  overflow-wrap: break-word;
  font-family: 'Roboto Serif';
  font-weight: 400;
  font-size: 26px;
  color: #717171;
}
.plan-de-route .line-20 {
  background: #0082AE;
  position: absolute;
  top: 50%;
  right: 13px;
  translate: 0 -50%;
  width: 2px;
  height: 62.3px;
}
.plan-de-route .placeholder-1 {
  background: url('../assets/images/placeholder2.png') 50% / cover no-repeat;
  margin-bottom: 60px;
  width: 30px;
  height: 30px;
}
.plan-de-route .placeholder-2 {
  background: url('../assets/images/placeholder2.png') 50% / cover no-repeat;
  position: relative;
  width: 30px;
  height: 30px;
}
.plan-de-route .group-15112 {
  position: absolute;
  left: 0px;
  bottom: 410px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.plan-de-route .group-15114 {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-right: 1.5px;
  width: fit-content;
  box-sizing: border-box;
}
.plan-de-route .container {
  margin: 25px 0px 119px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.plan-de-route .container-1 {
  position: absolute;
  left: -40px;
  top: 207px;
  width: 448px;
  height: 455px;
}
.plan-de-route {
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  padding-right: 73.8px;
  width: 1440px;
  box-sizing: border-box;
}

