
html {
   
  overflow-x:hidden ;
  width: 100%;

}

body{

  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x:hidden ;
  background-image: url(pics/body.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0px 140px;
 
  
}


 li , .logo , .logo_img , .rech , .plus , p{
  float: left;
  margin: 0;
 
}

.logo_img{
  width: 60px;
}

ul{
  height: 99%;
  width: 70%;

  display: flex;
  align-items: center;
  position: relative;
  list-style-type: none;
  padding: 0;
 
  overflow: hidden;
}

.logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.navbar{
  z-index: 2;
  padding: 10px;
  
  display: flex;

  position: fixed;
  height: 100px;
  width: 100%;
  background-color: #0082AE;
  justify-content: center;
  align-items: center;
  
}

li{
  display: flex;
  cursor: pointer;
  font-size: 30px;
  color: #E3F1F6;
}
.logo{
  cursor: pointer;
  margin-left : 40px ;
  font-size: 35px;
  font-weight: bold;
  color: #E3F1F6;
}

.Recherche{
 
margin-left: auto;
transition: all 0.3s ease-out;
}

.Recherche:hover
{
  
  padding-bottom: 7px;
  border-bottom:solid 3px rgba(255, 255, 255 ,0.8) ;
}

.rech{
  margin-right: 15px;
width: 34px;
}

.pub{
  margin-left: 50px;
  transition: all 0.3s ease-out;
}

.pub:hover
{ 
  
  padding-bottom: 7px;
  border-bottom:solid 3px rgba(255, 255, 255 ,0.8) ;
}

.plus{
  margin-right:15px ;
  width: 34px;
}

.auth{
  z-index: 2;
  border-radius: 3px;
  margin-left: 40px; ;
  width: 234px;
  height: 60px;
  background-color: #E3F1F6;
  display: flex;
  align-items: center;
  
}

.arrow{
  cursor: pointer;
  margin-right:15px ;
}
.pfp{
  width: 50px;
  margin-left:auto ;
  margin-right:15px ;
}


.user-name{
  font-size: 17px;
  color: #0082AE;
  font-weight: bold;
  margin-left: 15px;
}

.menu{
  z-index: 1;

  display:none;
  animation: slideDown1 0.6s;
  width: 234px;
  position: absolute;
  right: 15.4%;
  top: 90px;
  background-color: #E3F1F6;
  padding-top: 5px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: solid 2px rgba(0,0,0,0.1);
  padding-bottom: 0px;
 
  
}

.option{
  cursor: pointer;
  margin: 0;
  background-color: #E3F1F6;
  width: 100%;
  height: 40px;
  
  font-size: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

}
.option:hover{
background-color: rgba(0,0,0,0.1);

}
.smallfoor{
  text-decoration: none;
  color: white;
  transition: all 0.3 ease;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
.smallfoor:hover{
  text-decoration: none;
  color: white;
  text-shadow: 0 0 20px rgba(255, 255, 255, 1);
}

.text{
  color: black;
  margin-right: auto;
  margin-left:10px ;
}
.cotation{
  color: rgba(0,0,0,0.5);
  font-weight: bold;
  margin-right: 10px;
}
.icon{
  width: 30px;

  margin-left: 10px;
}

.line{
  width: 90%;
  margin: 5px;
  border: solid 1px  rgba(0,0,0,0.2);;
}









main{

  position: relative;
  display: flex;
  justify-content: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 0;
}

.box{

  z-index: 1;
  background-image: url(pics/back7.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  width: 100%;
  height: 500px;

}

.empty{
  margin-top: auto;
  margin: 0;
  height: 10px;
}

.part1 {
  
  border-radius: 10px;
  margin-top: 150px;
 display: flex;
 justify-content: center;
 align-items: center;
  color: black;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background-color: rgba(0,0,0,0.1);
  width: 60%;
  font-size: 400%;
  font-weight: bold;
  text-align: center;
}

.search
{
background-color: white;
width: 70%;
height: 17%;
margin-top: auto;
position: relative;
top: 50px;
border-radius:50px ;
display: flex;
justify-content: start;
align-items: center;
flex-direction: row;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

.vertical{
  width: 1px;
  height: 60%;
  border: solid 2px #046076;
  background-color: #046076;
  border-radius: 50px;
  margin: 10px;
}

.input1 , .input2 , .input3 {
    transition: all 0.3s ease;
  outline: none;
  padding: 10px;
  font-size: 20px;
  height: 45%;
  width: 17%;
  border: none;
  transition: all 2 ease;
}

.input2{
  width: 24%;

}
.input3{
  margin-right:10px ;
  width: 10%;
}

.input1{

  width: 27%;

}

.look{
 
  width: 400px;
  height: 100%;
  border-top-right-radius: 50px;
  border-bottom-right-radius:50px ;
  border: none;
  outline: none;
  background-color: #0082AE;
  font-size: 30px;
  color: white;
  font-weight: bold;
  transition: all 0.3s ease;
}

.look:hover{

  cursor: pointer;
 
  background-color: #3066E7;
  box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.8);
}

.input1:focus , .input2:focus , .input3:focus{
  box-shadow: 0 0 40px 10px rgba(255, 255, 255, 0.8);
  background-color: rgba(0,0,0,0.1);
  border-radius: 5px;
}
.pos{
  margin-left:30px ;
  margin-right:20px ;
}
.cal{
  margin-left:20px ;
  margin-right:20px ;
}
.pp{
  margin-left:20px ;
  margin-right:20px ;
}

.sanction0{
  position: relative;
  width: 1300px;
  height: 650px;
  background-color: rgba(0, 0, 0 ,0.0);
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;

}


.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

.subtit0{
  margin-top: 130px;
color: #046076;
font-size: 40px;
}

.subsac0{
  height: 400px;
  width: 100%;

  margin-top: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.subbox0 , .subbox1 , .subbox2
{
  height: 283px;
  width: 334px;
 cursor: pointer;
  border-radius: 79px;
  margin: 50px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: column;
  transition: all 0.6s ease;
}
.subbox0:hover , .subbox1:hover , .subbox2:hover
{
transform: translateY(-20%);
box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);

}


.subbox0{
background-color: #E3F1F6;
}
.subbox1{
  background-color: #75bbd3;
}
.subbox2{
  background-color: #E3F1F6;
}

.tit0 ,.tit2 {
color: #046076;
text-align: center;
}
.tit1 {
  color: #E3F1F6;
  text-align: center;
  }
  

.tex0 ,.tex1 ,.tex2{
  font-size: 20px;
  margin-bottom: 120px;
}



.band{
  width: 100%;
  height: 240px;
  background-color: #0082AE;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.c{
  margin-left: auto;
  margin-right: 20px;
  font-size: 30px;
  color: #346751;
}

.shortcut
{
  font-weight: bold;
width: 362px;
height: 74px;
background-color: #f5f5f5;
border-radius: 50px;
margin: 47px ;
display: flex;
flex-direction: row;
justify-content: start;
align-items: center;
font-size: 22px;
padding-left: 20px;
color: #346751;
transition: all 0.3s ease;
}
.shortcut:hover{
  font-size: 150%;
  cursor: pointer;
  box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.8);
}





.sanction1{

  width: 1400px;
  height: 900px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
}

.half0{
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 410px;


}
.half1{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: top;
  width: 100%;
  height: 490px;

}


.color0 , .color1{

  width: 34%;
  height: 80%;
  background: linear-gradient(30deg, #0182AE, #3066E7,#3066E7, #A3D7F5,#A3D7F5);
  margin: 10px;
  margin-top: 50px;
  rotate: 13deg;
  border-radius: 100px;
  display: flex;
  align-items: end;
  justify-content: end;
}

.pips{
  position: relative;
rotate: -13deg;
top: 10px;
width: 83%;
margin-right: 20px;
box-shadow: -2px -2px -2px rgba(0, 0, 0, 0.1);
border-radius: 50px;

}

.element0 ,.element1{
  width: 44%;
  height: 76%;
  background-color: #E3F1F6;
  margin: 10px;
  border-radius: 26% 35% 32% 44% / 56% 17% 68% 27%  ;
  margin-left: 50px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 80px;
  padding-right: 30px;
  overflow: visible;
}


.ht{
font-size: 35px;
margin-top: 60px;
color: #157f99;
}

.sub-ht{
  margin-bottom: 40px;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.5);
}

.but0 ,.but1{

  cursor: pointer;
  position: absolute;
  top: 1710px;
  width: 340px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;


 
  border-right:solid 10px #014f68;
  border-bottom:solid 10px #014f68;
  color: rgba(255, 255, 255 ,0.7);
  font-size: 25px;
  font-weight: bold;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);

}

.but0{
  background-color: #0082AE;
  background: linear-gradient(170deg,#0082AE,#0082AE,#014f68);
  transition:  all 0.6s ease;
}
.but0:hover{
  background-color: #014f68;
  background: linear-gradient(170deg,#0082AE,#014f68);
  color: white;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);

} 
.element1{
  width: 480px;
  height: 280px;

}

.but1{
  top: 2240px;
  background-color: #E3F1F6;
  background: linear-gradient(170deg,#E3F1F6,#E3F1F6,#A2C9C9);
  border-right-color: #A2C9C9;
  border-bottom-color:#A2C9C9 ;
  color: #158099;
  transition: all 0.6s ease;
}

.but1:hover{
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
  background-color: #A2C9C9;
  background: linear-gradient(170deg,#E3F1F6,#A2C9C9);
  color: #1580E9;
}


.color1{
  background: linear-gradient(70deg, #0082AE,#0082AE, #A3D7F5,#0082AE,#0082AE);
  rotate: -13deg;
  justify-content: start;
  align-items: start;
  height: 321px;
  width: 532px;
  margin-left: auto;
  margin-right: 40px;
  margin-bottom: 70px;
}

.wave{
  rotate: 13deg;
 position: relative;
 right: 20px;
 bottom: 10px;
 
}




.sanction2{
  margin-top: 180px;
  width: 1300px;
  height: 400px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.card0 , .card1 {

  height: 372px;
  width: 22%;
  background-color: #E3F1F6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 80px;
  margin: 40px;
  padding-right: 30px;
  padding-left: 30px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.card1{
background-color: #75bbd3;
}


.more
{
font-size: 22px;
text-decoration: none;
color: rgba(0, 0, 0, 0.8);
margin-right: auto;
border-bottom: solid 1px rgba(0, 0, 0, 0.5) ;
margin-bottom: auto;
}


.bigt0 , .bigt1 {
  
  width: 100%;
  color: #046076;
  text-align: center;
  }
.bigt1{

  color: #E3F1F6;
}
  .last-img1{
    margin-top: 20px;
  }

  .last-img0{
    margin-top: 10px;
    height: 65px;
  }

  .last-img2{
    margin-top: 20px;
    height: 55px;
  }


  .smallt{
    margin-bottom: 40px;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.5);
  }


.foot{
  width: 100%;
  height: 230px;
  margin-top: 65px;
  background-color: #0082AE;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; 
  overflow: hidden;
}


.footboox0 , .footboox1, .footboox2 , .footboox3{

  width: 200px;
  height: 80%;
 
  margin: 10px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  padding-left: 20px;
  color: #E3F1F6;
  font-size: 20px;
  gap: 20px;

}

.footboox0{
  width: 300px;
  margin-left: 20px;
  margin-right: auto;
}
.footboox3{
  align-items: center;
  flex-direction: row;
  width: 300px;
  margin-left: auto;
  margin-right: 70px;
}
.footboox1{

  gap: 20px;
  margin-right: auto;
  margin-left: auto;
}
.footboox2{
  margin-left: auto;
  margin-right: auto;
  
}
.bigfoot{
  font-size: 25px;
}

.footpic{

  width: 100%;
  margin: 20px;
  transition: all 0.3s ease;
}

.footpic:hover{


  margin: 27px;

}



















/* narrow desktop*/
@media only screen and (min-width: 1025px) and (max-width: 1250px) {
  html {
   
    overflow-x:hidden ;
    width: 100%;

  }
  ul{
    width: 85%;
  }
  .menu{
    right: 8.2%;
  }
  .sanction0{
    width: 1000px;
  }
  .subbox0 , .subbox1 , .subbox2 {
    margin-right: 15px;
    margin-left: 15px;
  }

  .shortcut{
    margin: 20px;
  }

  .sanction1{
    width: 1200px;
  }

  .color1{
    position: relative;
    margin: 0;
    margin-left: auto;
    left: 40px;
  }

  .element1{
   margin-right:30px ;

  }
  .pips{
    width: 90%;

  }
.sanction2{
  width: 100%;
}

.card0 , .card1{
  margin: 10px;
  width: 23%;
}

.bigt0 , .bigt1{
  font-size: 28px;
}

  .foot{
    zoom: 0.9;
  }

 }




/* For tablets (e.g., iPad) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    html {
   
    overflow-x:hidden ;
    width: 100%;

  }
 .menu{
  right: 3.4%;
  width: 225px;
}
 ul{
  width: 100%;
}
.logo{
  position: relative;
  
  
  width: 92px;
  font-size: 25px;
  margin-left: 0px;
}
.auth{
 
  margin-right: 15px;
  margin-left: 20px;
}
.plus{
  margin-right: 10px;
}
.rech{
  margin-right: 10px;
}

.pub{
 margin-left: 20px;
}


.logo_img{
  width: 43px;
}
.search{
  top: 20px;
  width: 85%;
 
}

.pp ,.pos,.cal {
  display: none;
}
.input1{
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px ;
}
.input1:focus{
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px ;
}

.sanction0{
  width: 115%;
}
.subbox0 , .subbox1 , .subbox2 {
  margin-right: 10px;
  margin-left: 10px;
  height: 250px;
  width: 24%;
  padding-left: 10px;
  padding-right: 10px;
}
.tit0 , .tat1 , .tit2 {
  font-size: 25px;
}

.tex0 ,.tex1 ,.tex2
{
  font-size: 15px;
} 

.shortcut{
  margin: 20px;
  height: 100px;
  
}


  .sanction1{
    width: 1200px;
    margin-top: 150px;
  }

  .half0 , .half1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
  
  }
  .color0{
    margin-right: 350px;
  
    width: 40%;
  }
  .element0{

    margin-left:200px ;
  }

  .element1{
    margin-right:360px ;
    margin-top: 720px;
   }
   .but0 ,.but1{
    top: 2070px;
    height: 60px;
    margin-right: 40px;
   }
.but1{
  top: 2520px;

}
.color1{
  width: 40%;
  margin: 0;
  margin-top:150px ;
  margin-left: 380px;
}


.sanction2{
  margin-top: 580px;
  width: 100%;
}

.card0 , .card1{
  height: 230px;
  margin: 10px;
  width: 23%;
}

.smallt{
  display: none;
}

.bigt0 , .bigt1{
  margin-bottom: auto;
  font-size: 30px;
}

.more{
  margin: 0;
  margin-bottom: 25px;
}
.foot{
  zoom: 0.7;
  margin-top: -50px;
}




}


/* For phones (e.g., iPhone) */
@media only screen and (max-width: 767px) {

/* fix this pls*/
   html {
   
    overflow-x:hidden ;
    width: 100%;

  }



  ul{
    width: 100%;
  }
  .logo{
    position: relative;
    
   
    width: 92px;
    font-size: 25px;
    margin-left: 0px;
  }
  .auth{
    width: 100px;
    margin-right: 15px;
    margin-left: 20px;
  }
  .plus{
    margin-right: 0px;
    width: 60px;
  }
  .rech{
    margin-right: 10px;
    width: 60px;
  }
  
  .pub{
   margin-left: 20px;
  }
  
  
  .logo_img{
    width: 43px;
  }

  .part1{
    margin-top: 500px;
    font-size: 45px;
    width: 85%;
  }

  .search{
    animation: slideDown 1s;
    width: 85%;
    flex-direction: column;
    height: 800px;
  }
  .look{
    border-top-right-radius: 0px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 100%;
    height: 100px;
    padding: 0;
    margin-top: 10px;
    
  }


  .pp ,.pos,.cal {
   position: absolute;
   top: 6%;
   left: 2% ;
  }
  .pos{
    left: 1%;
  
  }
  .cal{
    top: 33%;
  }
  .pp{
    top: 59%;
  }

  .input1 , .input2 , .input3{

   width: 75%;
   padding: 20px;
   padding-left: 70px;
   height: 50px;
   margin: 0;
  }

.input1{
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}

.input1:focus{
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;

}

  .vertical{
    height: 2px;
    border: none;
    width: 90%;
  }
  
  .Publiertrajet{
    display: none;
  }
  .R{
    display: none;
  }

  .user-name{
    display: none;
  }
  .menu{
    animation: slideDown2 0.6s;
    background: #0082AE;
    right: 2.5%;
    margin-top: 30px;
  }
  .option{
    color: white;
    background: #0082AE;
  }
  .option:hover{
    color: #0082AE;
    background: white;
  }
  .cotation{
    color: rgba(0, 0, 0 ,0.4);
  }


  .subtit0{
    text-align: center;
    margin-top: 400px;
  }

  .sanction0{
    margin-top: 250px;
    width: 100%;
 
  }
  
  .subsac0{
    width: 100%;
    margin-bottom: 250px;
    
  }
  .subbox0 , .subbox1 , .subbox2 {
    margin-right: 10px;
    margin-left: 10px;
    padding: 5px;
    max-height: 40%;
    max-width: 35%;
    padding: 0px;
    border-radius: 50px;
   
   
  }
  .tit0 , .tit1 , .tit2 {
    font-size: 18px;
    margin-bottom: 50px;
    margin-bottom: 100px;
  
  }
  
  .tex0 ,.tex1 ,.tex2
  {
   display: none;
  } 
  .subimg{
    width: 120px;
    height: 100px;
    margin-top: 10px;
  }
  .shortcut{
    margin: 10px;
    height: 120px;
    font-size: 16px;
  }
  .c{
    margin-right: 5px;
    font-size: 50px;
 
  }



  .sanction1{
    width: 1000px;
    margin-top: 150px;
  }

  .half0 , .half1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
  
  }
  .color0{
    margin-right: 220px;
  
    width: 40%;
  }
  .element0{
  
    width: 40%;
    margin-left:0px ;
    padding-left: 50px;
  }

  .element1{
    margin-right:0px ;
    margin-top: 720px;
    width: 40%;
    margin-left:0px ;
    padding-left: 50px;
   }
   .but0 ,.but1{
    margin-right: 80px;
    top: 2305px;
    height: 60px;
 
   }
.but1{
  top: 2750px;
  margin-left: 80px;

}
.color1{
  width: 40%;
  margin: 0;
  margin-top:180px ;
  margin-left: 0px;
}

.ht{
  
font-size: 25px;
}
.sub-ht{
  font-size: 20px;
  margin-bottom: 100px;
}



.sanction2{
  margin-top: 480px;
  width: 100%;
}

.card0 , .card1{
  border-radius: 40px;
  height: 150px;
  margin: 15px;
  width: 14%;
}

.smallt{
  
  display: none;
}

.bigt0 , .bigt1{
  margin-bottom: auto;
  font-size: 15px;
  margin: 0;
  margin-top: 20px;
  margin-bottom: auto;
}

.last-img0 , .last-img1 , .last-img2{
  margin-top: auto;
}

.more{
 display: none;
}


.foot{
  zoom: 0.5;
  margin-top: -120px;
}


  }
  

  @keyframes slideDown {
    from { transform: translateY(-20%); }
    to { transform: translateY(0); }
}

@keyframes slideDown1 {
  from { transform: translateY(-17%); }
  to { transform: translateY(0); }
}
@keyframes slideDown2 {
  from { transform: translateY(-8%); }
  to { transform: translateY(0); }
}