/* nice scroll bar */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb {
  background: #0082ae;
  border-radius: 50px;
}
html {
   
  overflow-x:hidden ;
  width: 100%;
 
}

body{

  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x:hidden ;
  background-image: url(pics/body.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0px 140px;
  height: 100vh;
  display: flex;
  justify-content: center;
  font-family: 'Roboto Serif', serif;
}


 li , .logo , .logo_img , .plus {
  float: left;
  margin: 0;
 
}

.logo_img{
  width: 60px;
}

ul{
  height: 99%;
  width: 70%;

  display: flex;
  align-items: center;
  position: relative;
  list-style-type: none;
  padding: 0;
 
  overflow: hidden;
}

.logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.navbar{
  z-index: 2;
  padding: 10px;
  
  display: flex;

  position: fixed;
  height: 100px;
  width: 100%;
  background-color: #0082AE;
  justify-content: center;
  align-items: center;
  
}

li{
  display: flex;
  cursor: pointer;
  font-size: 30px;
  color: #E3F1F6;

}
.logo{
  cursor: pointer;
  margin-left : 40px ;
  font-size: 35px;
  font-weight: bold;
  color: #E3F1F6;
}




.Recherche{
 
  margin-left: auto;
  transition: all 0.3s ease-out;
  }
  
  .Recherche:hover
  {
    
    padding-bottom: 7px;
    border-bottom:solid 3px rgba(255, 255, 255 ,0.8) ;
  }
  
  .rech{
    margin-right: 15px;
  width: 34px;
  }




.pub{
  margin-left: auto;
  transition: all 0.3s ease-out;
}

.pub:hover
{ 
  
  padding-bottom: 7px;
  border-bottom:solid 3px rgba(255, 255, 255 ,0.8) ;
}

.plus{
  margin-right:15px ;
  width: 34px;
}

.auth{
  z-index: 2;
  border-radius: 3px;
  margin-left: 40px; ;
  width: 234px;
  height: 60px;
  background-color: #E3F1F6;
  display: flex;
  align-items: center;
  
}

.arrow{
  cursor: pointer;
  margin-right:15px ;
}
.pfp{
  width: 50px;
  margin-left:auto ;
  margin-right:15px ;
}


.user-name{
  font-size: 17px;
  color: #0082AE;
  font-weight: bold;
  margin-left: 15px;
}

.menu{
  z-index: 1;

  display:none;
  animation: slideDown1 0.6s;
  width: 234px;
  position: absolute;
  right: 15.4%;
  top: 90px;
  background-color: #E3F1F6;
  padding-top: 5px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: solid 2px rgba(0,0,0,0.1);
  padding-bottom: 0px;
 
  
}

.option{
  cursor: pointer;
  margin: 0;
  background-color: #E3F1F6;
  width: 100%;
  height: 40px;
  
  font-size: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-decoration: none;

}
.option:hover{
background-color: rgba(0,0,0,0.1);

}
.smallfoor{
  text-decoration: none;
  color: white;
  transition: all 0.3 ease;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
.smallfoor:hover{
  text-decoration: none;
  color: white;
  text-shadow: 0 0 20px rgba(255, 255, 255, 1);
}


.text{
  
  color: black;
  margin-right: auto;
  margin-left:10px ;
}

.cotation , .cotation1{
  color: rgba(0,0,0,0.5);
  font-weight: bold;
  margin-right: 10px;
}
.icon{
  width: 30px;

  margin-left: 10px;
}

.line{
  width: 90%;
  margin: 5px;
  border: solid 1px  rgba(0,0,0,0.2);;
}



h1 , p{
  margin: 0;
}





main{
  z-index: 1;
  zoom: 0.92;
  margin-top: 120px;
  height: 86.9%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1200px;
  padding: 0;
  
}



.row1{
 gap: 40px;
width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  
}

.precedent , .prochaine{
  height: 74px;
  width: 275px;
  border-radius: 100px;
  background-color: #0082AE;
  color: #E3F1F6;
  font-size: 31px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.precedent{
  background-color: #E3F1F6;
  color: #0082AE;
}
.precedent:hover , .prochaine:hover{
font-size: 35px;
}

.title{
  font-size: 45px;
  margin-top: 20px;
}


.in{
  padding: 0;
  height: 350px;
  width: 776px;
  border: 3px solid #0082AE;
  border-radius: 52px;
  background-color: #E3F1F6;
  text-align: top;
  display: flex;
  
  justify-content: start;
  align-items: start;
}







/* narrow desktop*/
@media only screen and (min-width: 1025px) and (max-width: 1250px) {
  html {

    overflow-x:hidden ;
    width: 100%;

  }
  ul{
    width: 85%;
  }
  .menu{
    right: 8.2%;
  }

 
 }




/* For tablets (e.g., iPad) */
@media only screen and (min-width: 668px) and (max-width: 1024px) {
    html {

    overflow-x:hidden ;
    width: 100%;

        }
        main{
          width: 160%;
        zoom: 0.6;
        gap: 50px;
        }
 .menu{
  right: 3.4%;
  width: 225px;
      
      }
 ul{
  width: 100%;
    }
.logo{
  position: relative;
  
  
  width: 92px;
  font-size: 24px;
  margin-left: 0px;
}
.auth{
 
  margin-right: 15px;
  margin-left: 20px;
}
.plus{

  margin-right: 10px;

}



.pub{
  margin-left: auto;
}


.logo_img{
  width: 43px;
}
.search{
  top: 20px;
  width: 85%;
 
}






}


/* For phones (e.g., iPhone) */
@media only screen and (max-width: 667px) {

/* fix this pls*/
   html {

    overflow-x:hidden ;
    width: 100%;
   
  }

  main{
    width: 180%;
  zoom: 0.67;
  gap: 50px;
  margin: 180px;
  margin-bottom: 0px;
  }

 
.vertical-line{

display: none;

}
  ul{
    width: 100%;
  }
  .logo{
    position: relative;
    
   
    width: 92px;
    font-size: 24px;
    margin-left: 0px;
  }
  .auth{
   
    margin-right: 15px;
    margin-left: 20px;
  }
  .plus{
    margin-right: 0px;
    width: 50px;
  }
 
  
  .pub{
    margin-left: auto;
  }
  
  
  .logo_img{
    width: 43px;
  }

 

  
  .Publiertrajet{
    display: none;
  }
 

  .menu{
    animation: slideDown2 0.6s;
    background: #0082AE;
    right: 2.5%;
    margin-top: 30px;
  }
  .option{
    color: white;
    background: #0082AE;
  }
  .option:hover{
    color: #0082AE;
    background: white;
  }
  .cotation{
    color: rgba(0, 0, 0 ,0.4);
  }



  }
  

  @keyframes slideDown {
    from { transform: translateY(-20%); }
    to { transform: translateY(0); }
}

@keyframes slideDown1 {
  from { transform: translateY(-17%); }
  to { transform: translateY(0); }
}
@keyframes slideDown2 {
  from { transform: translateY(-8%); }
  to { transform: translateY(0); }
}