body{
margin : 0;

overflow: hidden;
}
html{
overflow: hidden;
}
main{
  height: 930px;
  width: 100%;
  display: flex;
  flex-direction: row;
    justify-content: start;
    align-items: start;
  

}

.leftside{
  
  height: 100%;
  width: 369px;
  background-color: #149fce;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.pp{
  position: relative;
  bottom: 90px;

}

.rightside{
  zoom: 0.95;
 
  width: 81%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  padding: 5px;
  margin: 0;
  padding-left: 80px;
}
h1{
  margin: 0;
}
.title{
  margin-top: 20px;
width: 500px;
font-size: 80px;
font-weight: 900;
color: #0082AE;
margin-right:700px;
margin-left: auto;
}

.row , .row1{
  display: flex;
  justify-content: start;
  align-items: center;
  flex: row;
background-color: white;
gap: 20px;
padding: 20px;
padding-top: 0px;
padding-bottom: 0px;
border-radius: 40px;
transition: all 0.3s ease;
width: 70%;
margin-top: 30px;
}

.row:hover{
  border: #149fce 1px solid;
  box-shadow: 0 0 8px #149fce;
  cursor: pointer;
  background: #E3F1F6;
  padding: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.im{
width: 100px;
}
.im1{
  width: 40px;
}

.column{
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.blu{
  font-size: 30px;
  font-weight: 700;
  color: #0082AE;
}
.bla{
  font-size: 30px;
  color: rgba(0, 0, 0, 0.4);
}

.line{
  margin-top: 30px;
  margin-bottom: 30px;
  width: 70%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.4);
}
.row1{
  margin: 0;
}
.vertical{
  height: 60px;
  width: 2px;
  background-color: #0082AE;
  margin: 5px;
  margin-left: 38px;

}
.arr{
color: #0082AE;
font-size: 50px;
margin-left: auto;
}



#blur-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Couleur du fond flou */
  backdrop-filter: blur(5px); /* Effet de flou */
  z-index: 1; /* Pour placer le fond flou derrière le conteneur */
  display: none; /* Démarrez invisible */
  overflow: hidden; /* Empêcher le débordement */
}

.container {
  position: fixed;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  left: 30%;
  top: 35%;
  zoom: 1.3;
  z-index: 2;
  background-color: white;
  padding: 10px;
  gap: 10px;
  width: 500px;
  height: 200px;
  border-radius: 5px;
  display: none;
}
a{
  text-decoration: none;
}
.ban{
 display: flex;
 justify-content: center;
 align-items: center;

  font-size: 27px;
  position: relative;
  bottom:20px;
  font-weight: 800;
  color: white;
  background-color: #C00A15;
  height: 75px;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.row2{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: row;
}
.text1{
  display: flex;
  position: relative;
 

  white-space: nowrap;
  bottom: 20px;
  font-weight: 800;
  
  color: #C00A15;

}
.oui{
  display: flex;
  position: relative;
  height: 40px;
  justify-content: center;
  align-items: center;
 margin-left: auto;
  font-size: 20px;
  color: white;
  background-color: #C00A15;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  width: 120px;
  
  transition: all 0.3s ease;
}
.Annuler{
  display: flex;
  position: relative;
  height: 40px;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  color:red;
  background-color:  white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
  width: 120px;
  transition: all 0.3s ease;
}
.oui:hover{
  border: 2px solid red;
  background-color: white;
  color: red;
  font-size: 28px;
}
.Annuler:hover{
  border: 2px solid red;
  font-size: 21px;
}