/* nice scroll bar */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb {
  background: #0082ae;
  border-radius: 50px;
}
html {
   
  overflow-x:hidden ;
  width: 100%;
 
}

body{

  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x:hidden ;

  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0px 140px;
  height: 100svh;
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  zoom: 0.98;
  overflow-y: hidden;
}


 li , .logo , .logo_img , .plus {
  float: left;
  margin: 0;
 
}

.logo_img{
  width: 60px;
}

ul{
  height: 99%;
  width: 70%;

  display: flex;
  align-items: center;
  position: relative;
  list-style-type: none;
  padding: 0;
 
  overflow: hidden;
}

.logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.navbar{
  z-index: 2;
  padding: 10px;
  
  display: flex;

  position: fixed;
  height: 100px;
  width: 100%;
  background-color: #0082AE;
  justify-content: center;
  align-items: center;
  
}

li{
  display: flex;
  cursor: pointer;
  font-size: 30px;
  color: #E3F1F6;

}
.logo{
  cursor: pointer;
  margin-left : 40px ;
  font-size: 35px;
  font-weight: bold;
  color: #E3F1F6;
}




.Recherche{
 
  margin-left: auto;
  transition: all 0.3s ease-out;
  }
  
  .Recherche:hover
  {
    
    padding-bottom: 7px;
    border-bottom:solid 3px rgba(255, 255, 255 ,0.8) ;
  }
  
  .rech{
    margin-right: 15px;
  width: 34px;
  }




.pub{
  margin-left: auto;
  transition: all 0.3s ease-out;
}

.pub:hover
{ 
  
  padding-bottom: 7px;
  border-bottom:solid 3px rgba(255, 255, 255 ,0.8) ;
}

.plus{
  margin-right:15px ;
  width: 34px;
}

.auth{
  z-index: 2;
  border-radius: 3px;
  margin-left: 40px; ;
  width: 234px;
  height: 60px;
  background-color: #E3F1F6;
  display: flex;
  align-items: center;
  
}

.arrow{
  cursor: pointer;
  margin-right:15px ;
}
.pfp{
  width: 50px;
  margin-left:auto ;
  margin-right:15px ;
}


.user-name{
  font-size: 17px;
  color: #0082AE;
  font-weight: bold;
  margin-left: 15px;
}

.menu{
  z-index: 1;

  display:none;
  animation: slideDown1 0.6s;
  width: 234px;
  position: absolute;
  right: 15.4%;
  top: 90px;
  background-color: #E3F1F6;
  padding-top: 5px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: solid 2px rgba(0,0,0,0.1);
  padding-bottom: 0px;
 
  
}

.option{
  cursor: pointer;
  margin: 0;
  background-color: #E3F1F6;
  width: 100%;
  height: 40px;
  
  font-size: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-decoration: none;

}
.option:hover{
background-color: rgba(0,0,0,0.1);

}
.smallfoor{
  text-decoration: none;
  color: white;
  transition: all 0.3 ease;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
.smallfoor:hover{
  text-decoration: none;
  color: white;
  text-shadow: 0 0 20px rgba(255, 255, 255, 1);
}


.text{
  
  color: black;
  margin-right: auto;
  margin-left:10px ;
}

.cotation , .cotation1{
  color: rgba(0,0,0,0.5);
  font-weight: bold;
  margin-right: 10px;
}
.icon{
  width: 30px;

  margin-left: 10px;
}

.line{
  width: 90%;
  margin: 5px;
  border: solid 1px  rgba(0,0,0,0.2);;
}



h1 , p{
  margin: 0;

}





main{
  z-index: 1;
  zoom: 0.92;
  margin-top: 120px;
  height: 86.9%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1200px;
  padding: 0;
  
}



.row , .row1{
 gap: 40px;
width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  
}
.row1{
  flex-direction: column;
  gap: 0px;
}

.img{
  margin-right: auto;
  width: 55%;
 
}



.tikline{
  height: 8px;
  width: 40px;
  background-color: white;
  border-radius: 30px;
}

.column{
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.prix{
  font-family: 'Roboto Serif', serif;
  text-align: center;
  border: solid 4px #0082AE   ;
  border-radius: 43px;
  padding: 10px;
  appearance: none;
  font-size: 60px;
  z-index: 2;
  background-color: transparent;
  width: min-content;
  height: min-content;
  width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 75px;
  padding-left: 75px;
  font-weight: bold;
  background-color: white;


}

.time-menu , .whitebox{
  animation: slideDown3 1s;
  display: flex;
  flex-direction: column;
  height: 189px;
  overflow-y: scroll;
  z-index: 1;
  border: solid 1px #0082AE;
  width: 390px;
  font-size: 25px;
  padding-top: 50px;
  position: relative;
  bottom: 50px;
  display: none;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;

}

.time-menu{
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.whitebox{
  border: none;
  overflow-y: hidden;
  display: flex;
}

.time-option{
  padding: 10px;

}

.time-option:hover{
  cursor: pointer;
  padding: 5px;
  background-color: #E3F1F6;
}

.arr{
  z-index: 3;
  position: relative;
  top: 94px;
   left: 150px;
   cursor: pointer;
   border-radius: 40px;
   padding: 34px;
  transition: all 0.3s ease;
}
.arr:hover{
 
}









.prix:focus{
background-color: #E3F1F6;

}

.precedent , .prochaine{
  height: 74px;
  width: 275px;
  border-radius: 100px;
  background-color: #0082AE;
  color: #E3F1F6;
  font-size: 31px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.precedent{
  background-color: #E3F1F6;
  color: #0082AE;
}
.precedent:hover , .prochaine:hover{
font-size: 35px;
}

.title{
  font-size: 45px;
  margin-top: 30px;
}


#btn1,#btn2,#btn3,#btn4,#btn5,#btn6,#btn7,#btn8,#btn9{
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  display: inline;
  padding: 5px;
  border: 1px solid rgb(90, 88, 88);
  position: relative;
  margin: 40px;
  margin-top: 0;
  margin-bottom: 50px;
  top: 50px;
}



















/* narrow desktop*/
@media only screen and (min-width: 1025px) and (max-width: 1250px) {
  html {

    overflow-x:hidden ;
    width: 100%;

  }
  ul{
    width: 85%;
  }
  .menu{
    right: 8.2%;
  }

 
 }




/* For tablets (e.g., iPad) */
@media only screen and (min-width: 451px) and (max-width: 1024px) {
    html {

    overflow-x:hidden ;
    width: 100%;

        }
    main{
      margin-top: 140px;
    }
 .menu{
  right: 3.4%;
  width: 225px;
      
      }
 ul{
  width: 100%;
    }
.logo{
  position: relative;
  
  
  width: 92px;
  font-size: 24px;
  margin-left: 0px;
}
.auth{
 
  margin-right: 15px;
  margin-left: 20px;
}
.plus{

  margin-right: 10px;

}



.pub{
  margin-left: auto;
}


.logo_img{
  width: 43px;
}
.search{
  top: 20px;
  width: 85%;
 
}


.big{
 
 width: 100%;
}

.img{
  position: absolute;
  width: 100%;
}
.prix{
  margin-bottom: 130px;
  position: relative;
  bottom: 70px;
}
.arr{
  position: relative;
  top: 25px;
}

.time-menu , .whitebox{

bottom: 250px;  

}

.prochaine ,.precedent{
  
 width: 210px;
}

.row-btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
}
#btn1,#btn2,#btn3,#btn4,#btn5,#btn6,#btn7,#btn8,#btn9{

  margin: 20px;
  margin-top: 0;
  margin-bottom: 20px;
  top: 50px;
}
}


/* For phones (e.g., iPhone) */
@media only screen and (max-width: 450px) {

/* fix this pls*/
   html {

    overflow-x:hidden ;
    width: 100%;
   
  }

  main{

    width: 180%;
  zoom: 0.8;
  gap: 0px;
  margin: 0px;
  margin-top: 260px;
  }
  .title{
    font-size: 40px;
  }
  .row{
    flex-direction: column-reverse;
    gap: 0;
  }
  .img{
    
    margin: 0;
    width: 100%;
    margin-top: auto;
    position: relative;
    bottom: 200px;
  }
 .prix{
  margin: 0;
 }

  .whitebox , .time-menu{
    bottom: 50px;
  }
  .time-menu{
    background-color: white;
   
  }
  .date{
    font-size: 24px;
   
  }
  .Container0{
    gap: 20px;
    height: 200px;
  }

.vertical-line{

display: none;

}
  ul{
    width: 100%;
  }
  .logo{
    position: relative;
    
   
    width: 92px;
    font-size: 24px;
    margin-left: 0px;
  }
  .auth{
   
    margin-right: 15px;
    margin-left: 20px;
  }
  .plus{
    margin-right: 0px;
    width: 50px;
  }
 
  
  .pub{
    margin-left: auto;
  }
  
  
  .logo_img{

    width: 43px;
  }

 

  
  .Publiertrajet{
    display: none;
  }
 

  .menu{
    
    animation: slideDown2 0.6s;
    background: #0082AE;
    right: 2.5%;
    margin-top: 30px;
  }
  .option{
    color: white;
    background: #0082AE;
  }
  .option:hover{
    color: #0082AE;
    background: white;
  }
  .cotation{
    color: rgba(0, 0, 0 ,0.4);
  }
.title{
  position: relative;
  top: 30px;
  font-size: 30px;
}
.row{
  gap: 0px;
}
.img{
  width: 80%;
  bottom: 240px;
}

.precedent , .prochaine{
  width: 42%;
  position: relative;
  bottom: 220px;
}
.row-btn{
 
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
}
#btn1,#btn2,#btn3,#btn4,#btn5,#btn6,#btn7,#btn8,#btn9{
  width: 5%;
  height: 200%;
  margin: 12px;
  margin-top: 0;
  margin-bottom: 0px;
  top: 0px;
}
  }
  

  @keyframes slideDown {
    from { transform: translateY(-20%); }
    to { transform: translateY(0); }
}

@keyframes slideDown1 {
  from { transform: translateY(-17%); }
  to { transform: translateY(0); }
}
@keyframes slideDown2 {
  from { transform: translateY(-8%); }
  to { transform: translateY(0); }
}

@keyframes slideDown3 {
  from { transform: translateY(-12%); opacity: 0.2;}
  to { transform: translateY(0); opacity: 1;}
}