/* nice scroll bar */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb {
  background: #0082ae;
  border-radius: 50px;
}
html {
   
  overflow-x:hidden ;
  width: 100%;
 
}

body{

  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x:hidden ;

  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0px 140px;
  height: 100vh;
  display: flex;
  justify-content: center;
  font-family: 'Roboto Serif', serif;
}


 li , .logo , .logo_img , .plus {
  float: left;
  margin: 0;
 
}

.logo_img{
  width: 60px;
}

ul{
  height: 99%;
  width: 70%;

  display: flex;
  align-items: center;
  position: relative;
  list-style-type: none;
  padding: 0;
 
  overflow: hidden;
}

.logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.navbar{
  z-index: 2;
  padding: 10px;
  
  display: flex;

  position: fixed;
  height: 100px;
  width: 100%;
  background-color: #0082AE;
  justify-content: center;
  align-items: center;
  
}

li{
  display: flex;
  cursor: pointer;
  font-size: 30px;
  color: #E3F1F6;

}
.logo{
  cursor: pointer;
  margin-left : 40px ;
  font-size: 35px;
  font-weight: bold;
  color: #E3F1F6;
}





.pub{
  margin-left: auto;
  transition: all 0.3s ease-out;
}

.pub:hover
{ 
  
  padding-bottom: 7px;
  border-bottom:solid 3px rgba(255, 255, 255 ,0.8) ;
}

.plus{
  margin-right:15px ;
  width: 34px;
}

.auth{
  z-index: 2;
  border-radius: 3px;
  margin-left: 40px; ;
  width: 234px;
  height: 60px;
  background-color: #E3F1F6;
  display: flex;
  align-items: center;
  
}

.arrow{
  cursor: pointer;
  margin-right:15px ;
}
.pfp{
  width: 50px;
  margin-left:auto ;
  margin-right:15px ;
}


.user-name{
  font-size: 17px;
  color: #0082AE;
  font-weight: bold;
  margin-left: 15px;
}

.menu{
  z-index: 1;

  display:none;
  animation: slideDown 0.6s;
  width: 234px;
  position: absolute;
  right: 15.4%;
  top: 90px;
  background-color: #E3F1F6;
  padding-top: 5px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: solid 2px rgba(0,0,0,0.1);
  padding-bottom: 0px;
 
  
}

.option{
  cursor: pointer;
  margin: 0;
  background-color: #E3F1F6;
  width: 100%;
  height: 40px;
  
  font-size: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-decoration: none;

}
.option:hover{
background-color: rgba(0,0,0,0.1);

}
.smallfoor{
  text-decoration: none;
  color: white;
  transition: all 0.3 ease;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
.smallfoor:hover{
  text-decoration: none;
  color: white;
  text-shadow: 0 0 20px rgba(255, 255, 255, 1);
}


.text{
  
  color: black;
  margin-right: auto;
  margin-left:10px ;
}

.cotation , .cotation1{
  color: rgba(0,0,0,0.5);
  font-weight: bold;
  margin-right: 10px;
}
.icon{
  width: 30px;

  margin-left: 10px;
}

.line , .line1 , .line2{
  width: 92.5%;
  margin: 5px;
  border: solid 1px  rgba(0,0,0,0.2);;
}



h1 , p{
  margin: 0;
}






main{

 


  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  height: min-content;
  width: 100%;
  padding: 0;
}

.box , .box1{
  margin-top: 60px;
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
flex-direction: column;


}

.dz{
  position: relative;
  top: 110px;
}

.search
{
  border: 1px solid rgba(0,0,0,0.2);
background-color: white;
width: 70%;
height: 17%;
margin-top: auto;
position: relative;
top: 50px;
border-radius:50px ;
display: flex;
justify-content: start;
align-items: center;
flex-direction: row;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
animation: slideUp 1.5s ;
transform: translateY(-200%);
}

.vertical{
  width: 1px;
  height: 60%;
  border: solid 2px #046076;
  background-color: #046076;
  border-radius: 50px;
  margin: 10px;
}

.input1 , .input2 , .input3 {
    transition: all 0.3s ease;
  outline: none;
  padding: 10px;
  font-size: 20px;
  height: 45%;
  width: 17%;
  border: none;
  transition: all 2 ease;
}

.input2{
  width: 24%;

}
.input3{
  margin-right:10px ;
  width: 10%;
}

.input1{

  width: 27%;

}

.look{
 
  width: 400px;
  height: 100%;
  border-top-right-radius: 50px;
  border-bottom-right-radius:50px ;
  border: none;
  outline: none;
  background-color: #0082AE;
  font-size: 30px;
  color: white;
  font-weight: bold;
  transition: all 0.3s ease;
}

a {
  text-decoration: none;

}

.look:hover{

  cursor: pointer;
  font-size: 35px;
  width: 420px;
  background-color: #3066E7;
  box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.8);
}

.input1:focus , .input2:focus , .input3:focus{
  box-shadow: 0 0 40px 10px rgba(255, 255, 255, 0.8);
  background-color: rgba(0,0,0,0.1);
  border-radius: 5px;
}
.pos{
  margin-left:30px ;
  margin-right:20px ;
}
.cal{
  margin-left:20px ;
  margin-right:20px ;
}
.pp{
  margin-left:20px ;
  margin-right:20px ;
}

.box1{
  background-color: #f5f5f5;
  flex-direction: row;
  height: 281px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding-top:15px ;
  padding-bottom: 15px;
}

.adjust{

  gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  margin-bottom: 20px;
}
.tit{
  font-size: 30px;
  font-weight: 400;
  color: #0082AE;
}
.card-s , .card {

    padding: 20px;
  width: 343px;
  height: 162px;
  box-shadow: 0 4px 16px rgba(0, 0, 0 ,0.4);
  background-color: #E3F1F6;
  transition: all 0.3s ease;
}

.card-s:hover , .card:hover {

  cursor: pointer;
  border: 1px solid #0082AE;
  box-shadow: 0 8px 32px rgba(0, 0, 0 ,0.7);
}



.widget0 ,.widget1{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 20px;

}


.pos1{
  width: 15px;
}


.prix{
  background-color: #0082AE;
  border-radius: 100px;
  color: white;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: 10px;
}

.depart{
  font-weight: bold;
}

.widget1{
  margin-bottom: 5px;
  justify-content: start;
  align-items: start;
}
.difrence{
  position: relative;
  left: 10px;
  bottom: 2px;
  font-weight: bold;
  color: rgba(0,0,0,0.4);
}
.line-img{
  position: relative;
  left: 16px;
}


.star {
  position: relative;
  left: 15px;
  margin-left: auto;
  width: 20px;
}
.rating{
  font-size: 20px;
}


.driver-pfp{
  width: 52px;
}


.line1{
  margin-left: auto;
  margin-right: auto ;
  width: 95%;
  margin: 10px;
}

.places{

  font-weight: bold;
  background-color: white;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 100px;
  color: #0082AE;
  margin-right: 10px;
  margin-left: auto;
  position: relative;
  top: 10px;
  border: rgba(0, 0, 0 ,0.2) 1px solid;
}

.Barca{
  margin-right: 40px;
  margin-top: 30px;
  color: #2d2d2d;
  font-size: 20px;
  gap: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.in{
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.Tri{
  position: relative;
  left: 40px;
}

input[type='radio'] {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  width: 30px;
  height: 30px;
  border: 3px solid #595959;
  border-radius: 50%;
  outline: none;

  transition: all 0.3s ease;
}



input[type='radio']:before {
  content: '';
  display: block;
  width: 17.4px;
  height: 17.4px;
  margin: 20% auto;
  border-radius: 50%;
}

input[type='radio']:checked:before {
  width: 21.9px;
  height: 21.9px;
  background: #0082AE;
}

input[type='radio']:checked {
  width: 35px;
  height: 35px;
  border: 3px solid #0082AE;
}


.container{

  width: 60%;
  height: min-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-top: 20px;
}


.column1 , .column2{
  height: min-content;
  width: min-content;

}



.card{
  margin-top: 20px;
  margin-bottom: 60px;
  background-color: white;
}

.line2{
  margin-left: 40px;

}


.heure-img{
  position: relative;
  right: 120px;
  margin-right: auto;
}
.heure{
  position: relative;
  right: 30px;

}

.apartir{
  position: relative;
  left: 40px;
}
.trajets{
  position: relative;
  left: 90px;
}

.nbr-trajet{
  color: #0082AE;
}

.arslane{
  animation:slideDown1 1s ;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
}

































/* narrow desktop*/
@media only screen and (min-width: 1025px) and (max-width: 1250px) {
  html {
   
    overflow-x:hidden ;
    width: 100%;


  }
  ul{
    width: 85%;
  }
  .menu{
    right: 8.2%;
  }

 
 }




/* For tablets (e.g., iPad) */
@media only screen and (min-width: 668px) and (max-width: 1024px) {
    html {
 
    overflow-x:hidden ;
    width: 100%;
   
  }
 .menu{
  right: 3.4%;
  width: 225px;
}
 ul{
  width: 100%;
}
.logo{
  position: relative;
  
  
  width: 92px;
  font-size: 24px;
  margin-left: 0px;
}
.auth{
 
  margin-right: 15px;
  margin-left: 20px;
}
.plus{
  margin-right: 10px;
}



.pub{
  margin-left: auto;
}


.logo_img{
  width: 43px;
}



.search{
  top: 20px;
  width: 85%;
 
}

.pp ,.pos,.cal {
  display: none;
}
.input1{
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px ;
}
.input1:focus{
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px ;
}

.arslane{
  zoom: 0.75;
}


}


/* For phones (e.g., iPhone) */
@media only screen and (max-width: 667px) {

/* fix this pls*/
   html {

    overflow-x:hidden ;
    width: 100%;

  }

  .date{
    font-size: 24px;
  }
  .Container0{
    gap: 20px;
    height: 200px;
  }

.vertical-line{

display: none;

}
  ul{
    width: 100%;
  }
  .logo{
    position: relative;
    
   
    width: 92px;
    font-size: 24px;
    margin-left: 0px;
  }
  .auth{
   
    margin-right: 15px;
    margin-left: 20px;
  }
  .plus{
    margin-right: 0px;
    width: 50px;
  }
 
  
  .pub{
    margin-left: auto;
  }
  
  
  .logo_img{
    width: 43px;
  }

 

  
  .Publiertrajet{
    display: none;
  }
 

  .menu{
    animation: slideDown2 0.6s;
    background: #0082AE;
    right: 2.5%;
    margin-top: 30px;
  }
  .option{
    color: white;
    background: #0082AE;
  }
  .option:hover{
    color: #0082AE;
    background: white;
  }
  .cotation{
    color: rgba(0, 0, 0 ,0.4);
  }

.dz{
  right: 20px;
  top: 740px;
  width: 800px;
}
  .search{
    animation: none;
  position: relative;
  top: 950px;
    width: 85%;
    flex-direction: column;
    height: 800px;
  }
  .look{
    border-top-right-radius: 0px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 100%;
    height: 100px;
    padding: 0;
    margin-top: 10px;
    
  }
  .look:hover{

    width: 100%;
    height: 110px;
    margin: 0px;
    
  }

  .pp ,.pos,.cal {
   position: absolute;
   top: 6%;
   left: 2% ;
  }
  .pos{
    left: 1%;
  
  }
  .cal{
    top: 33%;
  }
  .pp{
    top: 59%;
  }

  .input1 , .input2 , .input3{

   width: 75%;
   padding: 20px;
   padding-left: 70px;
   height: 50px;
   margin: 0;
  }

.input1{
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}

.input1:focus{
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;

}

  .vertical{
    height: 2px;
    border: none;
    width: 90%;
  }
  

  .box1{
    margin-top: 500px;
  }

  .arslane{
    zoom: 0.50;
  }

.container{
  gap: 20px;
}
.box1{
  z-index: 1;
  margin-top: 300px;
  gap: 20px;
}

  }
  

  @keyframes slideDown {
    from { transform: translateY(-20%); }
    to { transform: translateY(0); }
}

@keyframes slideDown1 {
  from { transform: translateY(-5%); }
  to { transform: translateY(0); }
}

@keyframes slideUp {
  from { transform: translateY(0); }
  to { transform: translateY(-200%); }
}
